<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d2ca8a98e4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">


</head>

<body>
    <header>
        <section class="top-header">
        <img id="logo" src="/images/logo-mercado-liebre.svg" width="300">
            <div class="barra-busqueda-padre">
                <form class="searchbar-form"action="/" method="get">
                <label for="">
                    <input class="searchbar-input"type="text" name="searchbar" id="" placeholder="Buscar">
                </label>
                <button class="searchbar-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <p id="cuotas-nav"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito
            </p>
        </section>
            <div class="nav-header-container">
                <nav class="left-nav">
                    <ul>
                        <li><a href="">Ofertas</a></li>
                        <li><a href="">Tiendas Oficiales</a></li>
                        <li><a href="">Vender</a></li>
                        <li><a href="">Ayuda</a></li>
                    </ul>
                </nav>
                <nav class="right-nav">
                    <ul>
                        <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-user"></i></a></li>
                        <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                        <li><a href="">Mis compras <i class="fa-solid fa-cart-shopping"></i></a></li>
                    </ul>
                </nav>
            </div>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>

    </header>
    <img id="banner" src="\images\img-home-banner.jpg" width="100%">
    <main>

        <section>
            <p class="titulares">Basado en tu ultima vista</p>
            <div class="articulos">
            <article><img src="\images\img-cafetera-moulinex.jpg">
                <div class="main-section-div-padre">
                    <p class="envio"><i class="fa-solid fa-truck"></i></p>
                    <div class="precios-descuentos">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                    <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </article>
            <article><img src="\images\img-macbook-pro-2019.jpg">
                <div class="main-section-div-padre">
                    <p class="envio"><i class="fa-solid fa-truck"></i></p>
                    <div class="precios-descuentos">
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                    </div>
                    <p class="descripcion">MacBook Pro 2019</p>
                </div>
            </article>
            <article><img src="\images\img-samsung-galaxy-s10.jpg" width="300">
                <div class="main-section-div-padre">
                    <p class="envio"><i class="fa-solid fa-truck"></i></p>
                    <div class="precios-descuentos">
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% OFF</p>
                    </div>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </div>
            </article>
            <article><img src="\images\img-tv-samsung-smart.jpg" width="300">
                <div class="main-section-div-padre">
                    <p class="envio"><i class="fa-solid fa-truck"></i></p>
                    <div class="precios-descuentos">
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% OFF</p>
                    </div>
                    <p class="descripcion">SmartTv Samsung 43"</p>
                </div>
            </article>
            </div>
        </section>
        <section>
            <p class="titulares">Ofertas</p>
            <div class="articulos">
            <article><img src="\images\img-cafetera-moulinex.jpg" width="300">
                <div class="main-section-div-padre">
                    <p class="envio"><i class="fa-solid fa-truck"></i></p>
                    <div class="precios-descuentos">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                    <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </article>
            <article><img src="\images\img-macbook-pro-2019.jpg" width="300">
                <div class="main-section-div-padre">
                    <p class="envio"><i class="fa-solid fa-truck"></i></p>
                    <div class="precios-descuentos">
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                    </div>
                    <p class="descripcion">MacBook Pro 2019</p>
                </div>
            </article>
            <article><img src="\images\img-samsung-galaxy-s10.jpg" width="300">
                <div class="main-section-div-padre">
                    <p class="envio"><i class="fa-solid fa-truck"></i></p>
                    <div class="precios-descuentos">
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% OFF</p>
                    </div>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </div>
            </article>
            <article><img src="\images\img-tv-samsung-smart.jpg" width="300">
                <div class="main-section-div-padre">
                    <p class="envio"><i class="fa-solid fa-truck"></i></p>
                    <div class="precios-descuentos">
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                    </div>
                    <p class="descripcion">SmartTv Samsung 43"</p>
                </div>
            </article>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-legales">
        <section>    
            <div><i class="fa-solid fa-credit-card"></i></div>
            <p class="terminos"><b>Pagá con tarjeta o en efectivo</b></p>
            <p class="desc-term">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </section>
        <section>
            <div><i class="fa-solid fa-gift"></i></div>
            <p class="terminos"><b>Envío gratis desde $ 2.500</b></p>
            <p class="desc-term">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </section>
        <section>
            <div><i class="fa-solid fa-user-shield"></i></div>
            <p class="terminos"><b>Seguridad, de principio a fin</b></p>
            <p class="desc-term">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </section>
        </div>
        <p id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>